body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
  color: #333;
}
.cabecalho {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a5934;
  padding: 1rem 2rem;
    font-family: "Poppins", sans-serif;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.menu a:hover {
  text-decoration: underline;
}


main {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 200px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #2a5934;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}